.smaller-image {
    width: 200px;
}
.purple-border {
    border-color:purple;
    border-width: 3px;
    border-style: solid;
}
body {
    background-color:darkblue;
    color:white;
}
a {
    color:white;
}